.item {
  border-bottom: 1px solid #eee;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.item svg {
  cursor: pointer;
}

.item svg:hover {
  transform: scale(1.1);
}

.itemWrap {
  height: 20em;
  overflow-y: scroll;
}

.itemWrap p {
  min-width: 10em;
  margin: 0;
  font-size: 1.2em;
  text-align: left;
}

.item .complete {
  text-decoration: line-through;
  text-decoration-color: #F24C3D;
  text-decoration-thickness: 2px;
}
